select#projects:focus {
  outline: none;
}

label {
  align-self: center;
}

.option {
  font-size: inherit;
  padding: 3px;
  border-radius: 9px;
  cursor: pointer;
  border: none;
}

.clear-all-button {
  position: absolute;
  right: 200px;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
  cursor: pointer;
  top: 30px;
}

input {
  font-family: "Montserrat", "sans-serif";
}

::spelling-error {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 9px;
  overflow: auto;
  height: 9px;
  background: antiquewhite;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: currentcolor;
  border-radius: 10px;
}

.delete-button {
  border: none;
  border-radius: 18px;
  outline: none;
  width: 25px;
  height: 25px;
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -8px;
  left: 204px;
}

.delete-button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

::placeholder {
  font-family: "Montserrat", "sans-serif";
}

#images-ul {
  justify-content: center;
  max-width: 36em;
  width: 35em;
  display: flex;
  gap: 2px;
  flex-direction: row;
  flex-wrap: wrap;
  background: #e7c6ed;
  padding: 10px;
  border-radius: 10px;
  flex-shrink: 0;
  margin: 9px auto;
  align-content: normal;
}

img {
  cursor: pointer;
}

.img {
  width: 53px;
  height: 38px;
  border-radius: 5px;
}

img:hover {
  transform: scale(1.1);
}

.expand {
  position: absolute;
  min-height: 526px;
  min-width: 500px;
  opacity: revert;
  z-index: 1;
  background: white;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 574px) {
  .input-form {
    width: 250px;
  }
  #form-bottom-input {
    flex-direction: column;
  }
  #due-date-input,
  #project-input,
  #add-button {
    width: 158px;
    text-align: inherit;
  }
  #add-button {
    text-align: center;
  }
  .delete-button,
  .delete-checklist-button {
    display: initial;
  }
  #images-ul {
    width: 181px;
  }
}
